* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.body {
    line-height: 1.42;
}

.wrapper {
    overflow: hidden;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: column;
}

.ice {
    width: 1119px;
    height: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ice__pic {
    width: 580px;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;
}

.ice__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ice__title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 15px;
}

.ice__text {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ice__price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ice__sale {
    font-weight: 500;
    font-size: 26px;
    margin-right: 10px;
}

.ice__full {
    font-weight: 500;
    font-size: 20px;
    text-decoration: line-through;
}

.ice__button {
    position: relative;
    background-color: #D64374;
    border-radius: 5px;
    padding: 15px 46px;
    border: none;
    color: white;
}